*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: gray;
    padding: 40px;
}

.titulos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.titulo-dos{
    padding-left: 500px;
}

.img-mine{
    width: 500px;
    height: 500px;
    object-fit: contain;
}