*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: gray;
    padding: 40px;
}

.titulos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.titulo-dos{
    padding-left: 500px;
}

.peliculas{
    margin: 100px;
    display: flex;
    justify-content: center;
    gap: 150px;
}

.peli1{
    object-fit: contain;
    height: 300px;
    width: 300px;
}

.peli2{
    object-fit: contain;
    height: 300px;
    width: 300px;
}

.peli3{
    object-fit: contain;
    height: 300px;
    width: 300px;
}

.peli4{
    object-fit: contain;
    height: 300px;
    width: 300px;
}

.boton-uno{
    margin-left: 850px;
    margin-top: 200px;
}

button a{
    display: flex;
    text-decoration: none;
background-color: gray;
color: white;
padding: 10px;
}